<?xml version="1.0" encoding="UTF-8"?>
<app>    
    <name>AstiveJS Example</name>
    <description>Use code as parameter with Astive JS</description>
    <astivlet>
        <astivletId>AstiveJS</astivletId>
        <class>org.astivetoolkit.examples.astivejs.App</class>
    </astivlet>
    <astivletMapping>
        <astivletId>AstiveJS</astivletId>
        <urlPattern>/examples/AstiveJS</urlPattern>
    </astivletMapping>
</app>