<?xml version="1.0" encoding="UTF-8"?>
<app>    
    <name>VoiceComposer Example</name>
    <description>...</description>
    <astivlet>
        <astivletId>VoiceComposer</astivletId>
        <class>com.phonytive.astive.examples.voicecomposer.App</class>
    </astivlet>
    <astivletMapping>
        <astivletId>VoiceComposer</astivletId>
        <urlPattern>/examples/VoiceComposer</urlPattern>
    </astivletMapping>   
</app>