<app>
    <name>Ohh wao is great</name>
    <description>Multi module app.</description>
    <astivlet>
        <astivletId>HelloWorld</astivletId>
        <class>com.phonytive.examples.HelloWorld</class>
    </astivlet>
    <astivletMapping>
        <astivletId>HelloWorld</astivletId>
        <urlPattern>/examples/HelloWorld.ast</urlPattern>
    </astivletMapping>  
</app>