<?xml version="1.0" encoding="UTF-8"?>
<app>    
    <name>${packageName} - ${artifactId}</name>
    <description></description>
    <astivlet>
        <astivletId>${artifactId}</astivletId>
        <class>${packageName}.App</class>
    </astivlet>
    <astivletMapping>
        <astivletId>${artifactId}</astivletId>
        <urlPattern>/${packageName}/${artifactId}</urlPattern>
    </astivletMapping>   
</app>