<?xml version="1.0" encoding="UTF-8"?>
<app>    
    <name>Handling Events</name>
    <description>Events Driven Example</description>
    <astivlet>
        <astivletId>HandlingEvents</astivletId>
        <class>com.phonytive.astive.examples.handlingevents.App</class>
    </astivlet>
    <astivletMapping>
        <astivletId>HandlingEvents</astivletId>
        <urlPattern>/examples/HandlingEvents</urlPattern>
    </astivletMapping>
</app>