<?xml version="1.0" encoding="UTF-8"?>
<app>    
    <name>SpeechRecognition Example</name>
    <description>Examples of SpeechRecognition command</description>
    <astivlet>
        <astivletId>SpeechRecognition</astivletId>
        <class>org.astivetoolkit.examples.speechrecognition.App</class>
    </astivlet>
    <astivletMapping>
        <astivletId>SpeechRecognition</astivletId>
        <urlPattern>/examples/SpeechRecognition</urlPattern>
    </astivletMapping>   
</app>